body {
    margin: 0;
}

.container {
    width: 640px;
    height: 480px;
    position: relative;
}

.rectangle {
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #3498db;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    border-radius: 50%;
    cursor: pointer;
}

#top-left {
    top: -5px;
    left: -5px;
}

#top-right {
    top: -5px;
    right: -5px;
}

#bottom-left {
    bottom: -5px;
    left: -5px;
}

#bottom-right {
    bottom: -5px;
    right: -5px;
}
