<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adjustable Polygon</title>
</head>
<body>
    <h3>This is A Movable Dot</h3>
    <!-- the frame -->
    <div class="container">
        <div class="rectangle" id="rectangle">
            <div class="dot" id="top-left"></div>
            <div class="dot" id="top-right"></div>
            <div class="dot" id="bottom-left"></div>
            <div class="dot" id="bottom-right"></div>
        </div>
    </div>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>