<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Adjustable Polygon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  
    <script type="text/javascript">
        function draggablePolygon(polygon) {
          var points = polygon.points;
          var svgRoot = $(polygon).closest("svg");
        
          for (var i = 0; i < points.numberOfItems; i++) {
            (function (i) { // close over variables for drag call back
              var point = points.getItem(i);
            
              var handle = document.createElement("div"); //creating div element for creating the edge points 
              handle.className = "handle";//setting the class name for the created div element
              document.body.appendChild(handle);//appending the created div element to the body of the html page
            
              var base = svgRoot.position();//getting the position of the svg element
              // center handles over polygon
              var cs = window.getComputedStyle(handle, null);
              base.left -= (parseInt(cs.width) + parseInt(cs.borderLeftWidth) + parseInt(cs.borderRightWidth))/2; //getting the width of the handle and setting the left position
              base.top -= (parseInt(cs.height) + parseInt(cs.borderTopWidth) + parseInt(cs.borderBottomWidth))/2; //getting the height of the handle and setting the top position
            
              handle.style.left = base.left + point.x + "px";//setting the left position of the handle using the base.left and point.x values 
              handle.style.top = base.top + point.y + "px";//setting the top position of the handle using the base.top and point.y values
            
              $(handle).draggable({ 
                drag: function (event) { // handle drag events
                  setTimeout(function () { // update polygon point from handle position
                    point.x = parseInt(handle.style.left) - base.left; //setting the x value of the point
                    point.y = parseInt(handle.style.top) - base.top; //setting the y value of the point
                    
                    // store updated coordinates into temporary variable
                    updatedCoordinates=getPolygonCoordinates()
                    console.log("Updated Coordinates: ", updatedCoordinates)
                  },0);
                }
              });
            }(i));
          }
        }
        function getPolygonCoordinates(){
          var polygon=document.getElementById("x"); //get the specified polygon
          return polygon.getAttribute("points"); //get the points attribute of the polygon
        }
        
        //save data on "click" using event listener
        // on click (saveButton) -> fill data using updatedCoordinates -> submit form (saveForm)
        $("#saveButton").on("click",function(event){
          event.preventDefault() //prevent the default action of the button
          
          if(updatedCoordinates!==null){
            //set value in the hidden input field with updated coordinates
            $("#coordinatesInput").val(updatedCoordinates)
            //submit the form
            $("#saveForm").submit()
          }
        })
    </script>
</head><body>
    <div class="container">
        <img src="{{ url_for('video_feed') }}" width="100%">
        <svg id="theSVG" width="640" height="480" style="border: 2px inset #8c6868;">
            <!-- Instatiate The Polygon -->
            <polygon id="x" points="{{data['x1']}},{{data['y1']}} {{data['x2']}},{{data['y2']}} {{data['x3']}},{{data['y3']}} {{data['x4']}},{{data['y4']}}" style="opacity: 50%;"/>
        </svg>
    </div>
    <div>
      <form id="saveForm" action="/submit_coordinates" method="post">
        <input type="hidden" id="coordinatesInput" name="coordinates" value="">
        <button id="saveButton" type="submit">Save Coordinates</button>
      </form>
    </div>
    
    <script type="text/javascript">
      draggablePolygon(document.getElementById("x"));
    </script>

    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>